<h1>Datamodtagelsen</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<img *ngIf="shown3" src="./assets/data.png" alt="data">
<img *ngIf="shown1" src="./assets/vandloeb.jpg" alt="vandloeb">
<img *ngIf="shown2" src="./assets/elnet.png" alt="elnet">

<div *ngIf="noUpload" class="buttonWrapper">
<button routerLink="/first-component" routerLinkActive="active" (click)="toggleShow1()">Vandløbsdata</button>
<button routerLink="/second-component" routerLinkActive="active" (click)="toggleShow2()">Energidata</button>
</div>
<!-- The routed views render in the <router-outlet>-->
<div *ngIf="shown" class="componentWrapper">
<router-outlet></router-outlet>
</div>
